.ry__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.ry__col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  flex: 1;
}

.fullwidth {
  flex-basis: 100%;
}
.modernio--row-two__items {
  display: flex;
  * {
    flex: 0.5;
    margin: 5px;
  }
}
