// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Gordita Regular", "Manrope", "Helvetica Neue Light",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

// Base text color
$text-color: hsl(0, 0, 13.3%);

//--- Brand colors-----

$main-color: hsl(195, 100%, 6%);

$second-color: hsl(1, 100%, 68%);

$tertiary-color: hsl(234, 64%, 26%);

// ...Add more here
// Colors
// --------------- //

$success: hsl(148, 100%, 29%);

$error: hsl(1, 70%, 61%);

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
/// $max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "phone-only": 575.98px,
  "table-portrait-up": 768px,
  "tablet-landscape-up": 992px,
  "desktop-up": 1200px,
  "big-desktop-up": 1800px
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
// $base-url: 'http://cdn.example.com/assets/';
/// $base-url: '/assets/' !default;
