$title-reveal-time: 1s;

.title-reveal {
  animation: titleReveal $title-reveal-time linear;
}

@include keyframes(titleReveal) {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
