.image__home--size-responsive {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.image--size-medium {
  max-width: 80%;
}
.image--size-bigger {
  max-width: 120%;
  width: 120%;
}
.image--alignment-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile--image {
  border-radius: 100%;

  max-width: 100%;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
}
