$default-label-size: 14px;
$default-label-margin: 2px;
$default-label-color: rgba(0, 0, 0, 0.8);

$default-input-color: rgba(248, 248, 248, 1);
$default-input-radius: 6px;

$default-input-size: 16px 10px;
$default-input-font-size: 14px;

$placeholder-font-size: 12px;
$placeholder-color: rgba(0, 0, 0, 0.4);

.ry__input {
  display: flex;
  width: 100%;
  flex-direction: column;

  .label {
    font-family: "Gordita Medium", sans-serif;
    color: $default-label-color;
    font-size: $default-label-size;
    margin: $default-label-margin;
  }
  input {
    font-family: "Gordita Regular", sans-serif;
    border: none;
    background: none;
    outline: none;
    flex: 0.9;
    background-color: $default-input-color;
    border-radius: $default-input-radius;
    font-size: $default-input-font-size;
    padding: $default-input-size;
    &::placeholder {
      font-family: "Gordita Regular", sans-serif;
      font-size: $placeholder-font-size;
      color: $placeholder-color;
    }
  }
}

.input--black {
  .label {
    margin-top: 20px;
    color: white;
  }
  input {
    background-color: rgba(250, 250, 250, 0.1);

    color: white;
    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
