/*

  Manrope it's a free-font, I'm going to attributethe author.

  Author: Michael Saranda
  Description: OTF, TTF, WEB fonts
  
  Version: 2.000
  Amount of glyphs: 488
  Published: 01/07/2018
  Local Fonts debute: 12/07/2018
  Styles: Thin, Light, Regular, Medium, SemiBold, Bold
  Designer: Michael Sharanda  
  Copyright: © 2018 by Michael Sharanda. All rights reserved.

*/

@font-face {
  font-family: "Manrope";
  src: url("../../../public/assets/fonts/manrope-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../../../public/assets/fonts/manrope-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../../../public/assets/fonts/manrope-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../../../public/assets/fonts/manrope-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../../../public/assets/fonts/manrope-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
