$default-radius: 100px;
$default-font-size: 16px;
$default-line-height: 1.5em;

$button-outline-width: 1px;

$button-size-big: 18px 42px;
$button-size-small: 12px 14px;

.ry__button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: $default-radius;
  font-family: "Gordita Medium", sans-serif;
  font-size: $default-font-size;
  line-height: $default-line-height;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.button--primary {
  background-color: $main-color;
  color: white;
  &:hover {
    background-color: darken($main-color, 10);
  }
}

.button--light {
  background-color: white;
  color: black;
}

.button--tertiary {
  background-color: $tertiary-color;
  color: white;
  &:hover {
    background-color: darken($tertiary-color, 10);
  }
}
.button--style-outline {
  background: none;
  border: $button-outline-width solid;
}

.button--light,
.button--style-outline {
  background-color: none;
  border-color: white;
  color: white;
  &:hover {
    background-color: white;
    color: black;
  }
}

.button--size-big {
  padding: $button-size-big;
  font-size: 14px;
}

.button--size-small {
  padding: $button-size-small;
  font-size: 14px;
}
