$default-card-margin: 2px;
$default-card-min-height: 500px;
$default-card-width: 500px;
$default-card-padding: 5px;

$card-header-padding: 12px 20px;
$card-body-padding: 12px 20px;
$card-footer-padding: 25px 20px;
$header-title-size: 24px;

$header-subtitle-size: 14px;

.ry__card {
  position: relative;
  margin: $default-card-margin;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: $default-card-padding;
  max-width: 100%;
  min-height: $default-card-min-height;
  width: $default-card-width;
}

.ry__card--header {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  padding: $card-header-padding;
}

.header--title {
  font-family: "Gordita Medium", sans-serif;
  font-size: $header-title-size;
  max-width: 280px;
  margin-top: -15px;
  line-height: 127.1%;
}
.header--subtitle {
  font-family: "Gordita Medium", sans-serif;
  font-size: $header-subtitle-size;
  max-width: 280px;
}
.ry__card--body {
  display: flex;
  flex-direction: column;
  padding: $card-body-padding;
}

.ry__card--footer {
  display: flex;
  padding: $card-footer-padding;
  justify-content: flex-end;
}
